{% extends 'base.html.twig'%}

{% block title "communeDeMaizery" %}


{% block body %}

	<br>
	{% include 'navbar.html.twig' %}

	<br>
	{% for message in app.flashes('success') %}
            <div class="alert alert-success container col-3">
				<div class="message-success">
                	{{ message }}
				</div>
            </div>
        {% endfor %}
	<body onload="appelMap()">
		<div class="container mt-5 mb-5">
			<div class="row flex">
				<div class="col mr-5">
					<div id="map"></div>
				</div>
				<div  class="col ml-5 mt-3 mb-3">
					{{ form_start(form) }}
					<div class="col option">{{ form_row(form.Nom)}}</div>
					<div class="col option">{{ form_row(form.email)}}</div>
					<div class="col option">{{ form_rest(form)}}</div>
					<div class="form-group">
						<button class="btnValide ml-3">{{ button| default('Envoyer') }}</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</body>
</div></body><footer>
<div class="container mt-5">
	<div class="row">
		<div class="col-sm">
			<h4 class="option">ECRIVEZ-NOUS</h4>

			<p class="contact-option">Adresse :</p>
			<p>Mairie de Colligny-Maizery</p>
			<p>4 rue Principale</p>
			<p>F-57530 COLLIGNY</p>
 
		</div>
		<div class="col-sm">
			<h4 class="option">CONTACTEZ-NOUS</h4>

			<p class="option">Téléphone :</p>
				{% for Telephone in telephones %}
					<p>{{ Telephone.Village }} : {{ Telephone.numeroTelephone }}</p>
				{% endfor %}
			
			<p class="option">Heures d'ouverture :</p>
			{% for Horaire in horaires %}
				{% if Horaire.heureMatinOuverture != 'Fermer' and Horaire.heureApresMidiOuverture != 'Fermer' %}
					<p>{{ Horaire.Jour }} : {{ Horaire.heureMatinOuverture }} à {{ Horaire.heureMatinFermeture }} et {{ Horaire.heureApresMidiOuverture }} à {{ Horaire.heureApresMidiFermeture }}</p>	
				{% endif %}
				{% if Horaire.heureMatinOuverture != 'Fermer' and Horaire.heureApresMidiOuverture == 'Fermer' %}
					<p>{{ Horaire.Jour }} : {{ Horaire.heureMatinOuverture }} à {{ Horaire.heureMatinFermeture }}
				{% endif %}
				{% if Horaire.heureMatinOuverture == 'Fermer' and Horaire.heureApresMidiOuverture != 'Fermer' %}
					<p>{{ Horaire.Jour }} : {{ Horaire.heureApresMidiOuverture }} à {{ Horaire.heureApresMidiFermeture }}
				{% endif %}
			{% endfor %}
			
		</div>
		<div class="col-sm">
			<h4 class="option">ABONNEZ-VOUS!</h4>

			<p>Saisissez votre adresse mail</p>
			
				{{ form_start(formLetter) }}
				
					<div class="col option">{{ form_row(formLetter.email)}}
						<div class="form-group">
							<button class="btnValide ml-3" >{{ button| default('M\'abonner') }}</button>
						</div>
					</div>
				{{ form_end(formLetter) }}
			
		</div>
	</div>
</div></footer>{% endblock %}
