{% extends 'base.html.twig'%}

{% block title "communeDeMaizery" %}

{% block body %}
	<br>
	<div class="homeBanniere flex-column container col-xl-11"></div>
	<br>
	{% include 'navbar.html.twig' %}

	<br>
	<div class="container col-11">
		<div class="row flex ">

			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
				<div class="card card-actu">
					<div class="card-body ">
						<h4 class="card-title "><p class="activite-titre">Actualité</p></h4>
							{% for actualite in actualites %}
								<div> 
									{% include "pages/_actualite.html.twig" %}
								</div>	
							{% endfor %}
						<p class="card-text"></p>
						<div class="text-primary text-right" style="font-weight:Bold;font-size: 1.5rem;">
							<a href="{{ path ('actualite') }}">
								Lire l'article
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
				<div class="card card-fete">
					<div class="card-body">
						<h4 class="card-title"><p class="activite-titre">Evènement</p></h4>
						{% for evenement in evenements %}
							<div> 
								{% include "pages/_evenement.html.twig" %}
							</div>	
						{% endfor %}
						<p class="card-text"></p>
						<div class="text-primary text-right" style="font-weight:Bold;font-size: 1.5rem;">
							<a href="{{ path ('evenement') }}">
								Lire l'article</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
				<div class="card card-ecole">
					<div class="card-body ">
						<h4 class="card-title"><p class="activite-titre">Ecole</p></h4>
						{% for ecole in ecoles %}
							<div> 
								{% include "pages/_ecole.html.twig" %}
							</div>	
						{% endfor %}
						<p class="card-text"></p>
						<div class="text-primary text-right" style="font-weight:Bold;font-size: 1.5rem;">
							<a href="{{ path ('ecole') }}">
								Lire l'article</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
				<div class="card card-meteo">
					<div class="card-body">

						<div class="row ">
							<div class="col-6">
								<div>
									<p class="meteo-title">{{ name }} ({{ country }})</p>
								</div>
									<p class="meteo-option" style="font-size:18px">{{ dt }}</p>
									<p class="meteo-option">{{ time }}</p>
									<p class="meteo-option">Pression : {{ pressure }} hPa</p>
									<p class="meteo-option">Humidité : {{ humidity }} %</p>
									<p class="meteo-option">Vent : {{ speed }} m/s</p>
							</div>
							<div class="col-6">
								<div class="row">
									<div class=" text-center">
										<p class="meteo-fleche meteo-option">&#8681;° {{ temp_min }}</p>
									</div>
									<div class="thermo"></div>
									<div class="text-center">
										<p class="meteo-fleche meteo-option">&#8679;° {{ temp_max }}</p>
									</div>
								</div>
								<div>
									<img style="height:120px" src="http://openweathermap.org/img/wn/{{ icon }}@2x.png" alt="">
									<p class="meteo-option" style="font-size:25px">{{ description }}</p>
									<p class="meteo-option" style="font-size:50px">{{ temp }} °C</p>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

		{% endblock %}
