{{ form_start(form) }}

    <div class="row">
        <div class="col-md-4">{{form_row(form.Titre)}}</div>
        <div class="col-md-4">{{form_row(form.Titre)}}</div>
        <div class="col-md-4">{{form_row(form.Titre)}}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">{{form_row(form.Titre)}}</div>
        <div class="col-md-2">{{form_row(form.Titre)}}</div>
        
    </div>

<br>
    {{ form_rest(form) }}

    <button class="btn btn-primary">{{ button| default('Enregistrer') }}</button>
{{ form_end(form) }}