<div class="container col-lg-11">
	<nav class="navbar navbar-expand-xl navbar-dark navCom">
		<div style="margin-right:10px">
			<img src="images/Blason_Colligny.png" alt="" style="width:50px;height:50px">
			<img src="images/Blason_Maizery.svg.png" alt="" style="width:38px;height:48px">
		</div>
		<a class="navbar-brand" href="{{ path ('index') }}">Commune de Colligny-Maizery</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto col">
               {% for type in types %} 
				 <li class="nav-item navFont col">
				 	<div class="navComElem navbar-dark">
						<form method="GET"  action="{{ path ('admin.type',{type:type.Nom }) }}">
							<input type="hidden" name="_method" value="{{ type.id }}">
							<input type="submit" class="btnAdmin" value="{{ type.Nom }}">
						</form>
					</div>
				</li>
              
				{% endfor %}  
				<li class="nav-item col navFont">
					<div class="navComElem navbar-dark">
						<form action="{{ path ('admin/info') }}">
                       		<input type="submit" class="btnAdmin" value="Info">
						</form>
					</div>
				</li>
			
			{% if app.user %}
					<li class="nav-item col navFont">
						<div class="navComElem navbar-dark">
							<form action="{{ path('logout') }}">
								<input type="submit" class="btnAdmin" value="Se déconnecter">
							</form>
						</div>
                    </li>
				</ul>
			{% endif %}
		</div>
	</nav>
</div>
