{% extends 'base.html.twig'%}

{% block title "Gérer les activitees" %}

{% block body %}
    <br>
	<div class="homeBanniere flex-column container col-xl-11"></div>

	<br> 
    {% include 'admin/AdminNavBar.html.twig' %}
	<div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1>Gérer les activitées</h1>
            </div>
            <div class="col">
                <div class="text-right">
                    <a href="{{ path ('admin.new') }}" class="btn btn-primary">Créer une Activité</a>
                </div>
            </div>
        </div>
    </div>
{% for message in app.flashes('success') %}
    <div class="container ">
        <div class="alert alert-success">
            {{ message }}
        </div>
    </div>
{% endfor %}

    <table class="table table-striped container">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Type Activité</th>
                <th>Date debut</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for Activite in activites %}
            
                <tr>
                    <td>{{ Activite.Titre }}</td>
                    <td>{{ Activite.Type.getNom() }}</td>
                    <td>{{ Activite.Datedebut|date('d/m/Y') }}</td>
                    <td>{{ Activite.Description }}</td>
                    <td>
                      <a href="{{ path ('admin.edit', {id: Activite.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path ('admin.delete', {id: Activite.id}) }}" style="display:inline-block"
                    onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Activite.id ) }}">
                    <button class="btn btn-danger">Supprimer</button>
                    </form>
                    </td>
                </tr>
            {% endfor %}   
        </tbody>
    </table>
    
   
	
{% endblock %}
