{% extends 'base.html.twig'%}

{% block title "Gérer les activitees" %}

{% block body %}
    <br>
	<div class="homeBanniere flex-column container col-xl-11"></div>
    <br> 
    {% include 'admin/AdminNavBar.html.twig' %}
	<div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1>Gérer les activitées</h1>
            </div>
            <div class="col">
                <div class="text-right">
                    <form method="get" action="{{ path ('admin.new') }}" >
                        <input type="submit" class="btnValide" value="Créer une Activité">
                    </form>
                </div>
            </div>
        </div>
    
    {% for message in app.flashes('success') %}
        <div class="alert alert-success container col-5">
				<div class="message-success">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    </div>
    <table class="table table-striped container">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Type Activité</th>
                <th>Date debut</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for Activite in activites %}
            
                <tr>
                    <td>{{ Activite.Titre }}</td>
                    <td>{{ Activite.Type.getNom() }}</td>
                    <td>{{ Activite.Datedebut|date('d/m/Y') }}</td>
                    <td>{% if  Activite.Description|length < 40  %}
                            {{ Activite.Description }} 
                        {% else %}
                            {{ Activite.Description|slice(0,40)|raw }} ... 
                        {% endif %}
                    </td>
                    <td class="row">
                    <form action="{{ path ('admin.edit', {id: Activite.id}) }}">
                        <input type="submit" class="btnEdit" value="Editer">
                    </form>
                    <form method="post" action="{{ path ('admin.delete', {id: Activite.id}) }}" style="display:inline-block"
                    onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Activite.id ) }}">
                    <button class="btnSupprimer">Supprimer</button>
                    </form>
                    </td>
                </tr>
            {% endfor %}   
        </tbody>
    </table>
    
   
	
{% endblock %}
