<div class="container col-lg-11">
	<nav class="navbar navbar-expand-xl navbar-dark navCom">
		<div style="margin-right:10px">
			<img src="images/Blason_Colligny.png" alt="" style="width:50px;height:50px">
			<img src="images/Blason_Maizery.svg.png" alt="" style="width:38px;height:48px">
		</div>
		<a class="navbar-brand" href="{{ path ('home') }}">Commune de Colligny-Maizery</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto col">
				<li class="nav-item col navFont">
					<div class="navComElem navbar-dark {% if current_menu is defined and current_menu == 'home' %}active{% endif %}">
						<form action="{{ path ('home') }}">
                       		<input type="submit" class="btnAdmin" value="Accueil">
						</form>
					</div>
				</li>
				<li class="nav-item col navFont {% if current_menu is defined and current_menu == 'actualite' %}active{% endif %}">
					<div class="navComElem navbar-dark">
						<form action="{{ path ('actualite') }}">
                       		<input type="submit" class="btnAdmin" value="Actualité">
						</form>
					</div>
				</li>
				<li class="nav-item col navFont {% if current_menu is defined and current_menu == 'evenement' %}active{% endif %}">
					<div class="navComElem navbar-dark">
						<form action="{{ path ('evenement') }}">
                       		<input type="submit" class="btnAdmin" value="Evènement">
						</form>
					</div>
				</li>
				<li class="nav-item col navFont">
					<div class="navComElem navbar-dark {% if current_menu is defined and current_menu == 'ecole' %}active{% endif %}">
						<form action="{{ path ('ecole') }}">
                       		<input type="submit" class="btnAdmin" value="Ecole">
						</form>
					</div>
				</li>
				<li class="nav-item col navFont {% if current_menu is defined and current_menu == 'histoire' %}active{% endif %}">
					<div class="navComElem navbar-dark">
						<form action="{{ path ('histoire') }}">
                       		<input type="submit" class="btnAdmin" value="Histoire">
						</form>
					</div>
				</li>
				<li class="nav-item col navFont {% if current_menu is defined and current_menu == 'contact' %}active{% endif %}">
					<div class="navComElem navbar-dark">
						<form action="{{ path ('contact') }}">
                       		<input type="submit" class="btnAdmin" value="Contact">
						</form>
					</div>
				</li>
			</ul>
			
		</div>
	</nav>
</div>
